body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  display: flex;
}

.container {
  padding-top: 20px;
  margin: auto;
}

.mdc-btn {
  
  width: 120px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00796b;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  margin-left: 30px;
 
  
 
}

.search-form {
  
  
  padding: 20px;
}

.search-form input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #263238;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #00796b;
  
}
.result{
  width: 50%;
  border: 2px solid  #00796b;
  background-color: rgb(238, 215, 215);
  margin: 0 auto;
  min-height: 100px;
  margin-top: 40px;
}
h2{
  color: #00796b;
  text-align: center;
  
}
.move{
  margin-top: 20px;
}
li{
  list-style-type: none;
}
.search-form{
  width: 30%;
}
div{
  border: 1px solid #00796b;
  margin-top: 20px;
}
.get{
  display: block;
  margin: 0 auto;
}
