.image-gallery{
  background-color: gainsboro;
  
  height: auto;
  margin: 0 auto;
  border: 1px solid salmon;
}

.fullView{
  width: inherit;
  height: 600px;
  margin: auto;
  background-color: powderblue;
  margin-top: 50px;
  border: 1px solid gray;
}
.preview{
  display: flex;
  justify-content: space-around;
  width: inherit;
  height: 150px;
  margin: 0 auto;
  background-color: rgb(188, 188, 201);
  border: 2px solid black;
  margin: 0 auto;
}
li{
  list-style: none;
  background-color: green;
  cursor: pointer;
  width: 170px;
  border: 1px solid rgba(188, 188, 201, 0);
  
}
.smallSize{
  height: 150px;
  width: 170px;

}
.hover{
opacity: 0.5;

}
img{
  display: block;
  margin: 0 auto;
  
  
}
.bigSize{
  width: 900px;
  height: inherit;
}